.vscode/settings.json
microblog.pyc
app/routes.pyc
microblog.pyc
app/__init__.pyc
app/__init__.pyc
app/routes.pyc
config.pyc
app/forms.pyc
app/routes.pyc
__pycache__/config.cpython-36.pyc
__pycache__/microblog.cpython-36.pyc
app/__init__.pyc
app/__pycache__/models.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
app/__pycache__/forms.cpython-36.pyc
app/__pycache__/routes.cpython-36.pyc
migrations/__pycache__/env.cpython-36.pyc
